# --- Android & Gradle Build ---
.gradle/
/build
.cxx/
.externalNativeBuild/
local.properties

# --- IDE: Android Studio / IntelliJ Bla ---
*.iml
.idea/
/captures

# --- IDE: VS Code ---
.vscode/
.continue/

# --- Systemdateien ---
.DS_Store
Thumbs.db

# --- Generierte App-Dateien ---
*.apk
*.aab

# --- spezifischen Dateien ---
projectStructure.md